@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@700&family=Quicksand:wght@700&display=swap');

:root {
	--primary-color: #a8ffab;
	--banner-text-size: 60px;
}

* {
	font-family: Quicksand, sans-serif;
}
body {
	padding: 0;
	margin: 0;
}
main {
	display: flex;
	height: 100vh;
	min-height: 900px
}
.banner {
	position: relative;
	width: 500px;
	height: 100%;
	background: url("../images/banner.jpg") no-repeat center;
	background-size: auto 100%;
	box-shadow: 0 0 15px 15px inset #111111aa;
	display: flex;
	align-items: center;
}
.banner::after {
	position: absolute;
	left:0;
	top: 0;
	content: "";
	width: 100%;
	height: 100%;
	backdrop-filter: blur(3px);
}
.banner-logo {
	width: 100%;
	padding: 60px 0;
	background-color: #25252522;
	z-index: 10000;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	backdrop-filter: blur(3px);
}
.banner-icon {
	height: calc(var(--banner-text-size) + 30px);
	width: calc(var(--banner-text-size) + 30px);
	fill: var(--primary-color);
}
.banner-text {
	font-family: 'Hind Madurai', sans-serif;
	color: var(--primary-color);
	font-size: var(--banner-text-size);
}

.form-container {
	background-color: #f0f0f0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.form-input-container {
	padding: 20px 30px;
	background-color: #dfdfdf44;
	margin: 10px 0;
}
.form-header {
	font-size: 2rem;
}

.form-subtext {
	color: #1d1d1d;
	font-size: 1.25rem;
	padding: 10px 40px;
}

.input-group {
	display: flex;
	font-size: 18px;
}
.input {
	position: relative;
	margin: 25px 10px;
	flex: 1;
	display: flex;
}
.input > span {
	position: absolute;
	top: 0;
	left: 0;
	color: #6b7280;
	padding: 5px;
	pointer-events: none;
	transition: all 0.2s ease-in-out;
}
.input > input {
	position: relative;
	flex: 1;
	font-size: 18px;
	padding: 5px;
	outline: none;
	border: 2px solid transparent;
	border-bottom: 2px solid #6b7280;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}
.input > input:focus {
	outline: none;
	border-bottom: 2px solid #1f2937;
}
.input > input.error,
.input > input.has-value:invalid{
	color: #991b1b;
	border-bottom: 2px solid #991b1b;
	-webkit-animation: shake 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: shake 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.input > input.has-value ~ span ,
.input > input:focus ~ span {
	top: -28px;
	left: -5px;
	color: #1f2937;
}
.input > input.error ~ span,
.input > input.has-value:invalid ~ span {
	color: #991b1b !important;
}
.input > input.has-value:valid ~ span {
	color: #1f2937;
}
.input.error::after {
	position: absolute;
	color: #991b1b;
	font-size: 12px;
	bottom: -25px;
	left: 0;
	padding: 5px;
	content: attr(data-error);
}

.btn-submit {
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: #4d7c0f;
	color: white;
	font-size: 1.1rem;
	margin: 10px 10px;
	padding: 10px 15px;
	cursor: pointer;
}
.btn-submit:hover {
	background-color: #3f6212;
}

.action-group {
	display: flex;
	align-items: center;
	margin: 10px 10px;
}
.primary-link {
	color: #166534;
	text-decoration: none;
}
.primary-link:hover {
	color: #022c22;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-23 17:28:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  80% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  90% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  80% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  90% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}

