.featured{
    box-sizing: border-box;
    position: relative;
    height: min(400px, 45vh);
    background: url(https://wallpapercave.com/wp/wp4056191.jpg) no-repeat right;
    background-attachment: fixed;
    background-position-y: center;
    box-shadow: inset 0 0 10em 10em #00000060;
    padding:10px;
    background-size: 100vw;
    width: 100%;
}
.tagline-container{
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr 1fr;
    padding:10px;
    height:100%;
    width: 80%;
}
.tagline-container > *{
    display: flex;
    font-family: 'Montserrat';
    font-weight: 900;
    margin: 0;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}
.tagline-container > :first-child{
    color: white;
    font-size: clamp(60px, 12vh, 140px);
    margin:-10px 0;
}
.tagline-container > :nth-child(2){
    color: white;
    font-size: clamp(50px, 10vh, 100px);
    margin:-10px 0;
}
.tagline-container > :nth-child(3){
    color: white;
    font-size: clamp(30px, 6vh, 60px);
}
.tagline-container > :last-child{
    color: white;
    font-size: clamp(20px, 6vh, 40px);
}
.schedule-container{
    box-sizing: border-box;
    position: absolute;
    padding: 10px;
    height: 100%;
    width: 300px;
    right:0;
}
.schedule{
    box-sizing:border-box;
    padding: 10px;
    background-color: #ffffff6c;
    height: 90%;
}
.sched-header{
    height:4%; 
    font-family: 'Work Sans';
    font-size: clamp(1.2rem, 3vh, 2rem);
    margin:0;
    text-align: center;
}
.sched-table{
    box-sizing: border-box;
    display: grid;
    font-family: 'Montserrat';
    padding: 10px;
    font-size: 13px;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    height: 90%;
}
.sched-table > *{
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.sched-table > :nth-child(3n+3){
    box-sizing: border-box;
    border-bottom: 2px solid #1cac1c;
    margin: 0 5px
}
.sched-table > :nth-child(3n + 2){
    width: 100%;
    border-bottom: 1px dotted #000000;
}
.description-container{
    box-sizing: border-box;
    margin-left:clamp(15%, 2vw, 25%);
    margin-right:clamp(15%, 2vw, 25%);
    height:500px;
    padding:20px;
}
.description{
    height: 100%;
}
.desc-image{
    height:clamp(100px, 20vw, 250px);
}
.desc-text{
    font-family: 'Montserrat';
    font-size: clamp(14px,2vw,25px);
    margin-top: 50px;
    text-align: justify;
    word-wrap: break-word;
}
.btn{
    border: none;
    background-color: transparent;
    font-family: 'Montserrat';
    font-size: 20px;
    width: 100%;
    text-align: center;
}
.desc-btn{
    position: relative;
    display: flex;
    align-items: center;
    height: 25px;
    width:200px;
    padding: 8px 20px;
    border-radius: 100px;
    margin: 0 auto;
    margin-top: 70px;
    background-color: #f5c113;
}
.btn-image{
    text-align: left;
    height: 100%;
}