.menu-container{
    display:grid;
    grid-template-columns: 8fr 2fr;
    width: 100%;
    min-height: 800px;
}
.meal-container{
    padding:10px;
    border-right: 1px solid #e0e0e0;
}
.meal-sub-container{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 1px solid #f5c113;
}
.meal-sub-container > div{
    cursor: pointer;
    padding:10px 5px;
    position: relative;
    height: 300px;
    transition: background-color 0.3s;
    text-align: center;
}
.meal-sub-container > div:hover{
    background-color: #f5c113;
}
.meal-sub-container > div:hover::after{
    border-color: white;    
}
.meal-name{
    font-family: 'Work Sans';
}
.meal-image{
    height: 55%;
}
.meal-price{
    font-family: 'Work Sans';
    text-align: center;
    background-color: #f5c113;
    width:60px;
    border-radius: 10px;
    transition: background-color 0.3s;
}
.meal-sub-container > div:hover .meal-price{
    background-color: white;
}
.meal-sub-container > div::after{
    position: absolute;
    content: "";
    padding: 3px;
    display: inline-block;
    border-right:3px solid #f5c113;
    border-bottom:3px solid #f5c113;
    transform: rotate(-45deg);
    right: 10px;
}


.options-container{
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.options-container > button:not(.current){
    box-sizing: border-box;
    height:60px;
    width:200px;
    background-color: #f5c113;
    border-radius: 50px;
    transition: background-color 0.5s;
}
.options-container > button:hover:not(.current){
    height:70px;
}
.options-container > button:active:not(.current){
    height:55px;
}
.current{
    cursor: default;
    background-color: white;
    border: 2px solid #f5c113;
    height:60px;
    width:200px;
    border-radius: 50px
}
.no-border-right{
    border-right: none;
}