@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
body{
    margin: 0;
    width:100vw;
    overflow-x: hidden;
}
#header{
    height: fit-content;
    text-align: center;
}
.logo{
    height: 40px;
    margin-bottom: -15px;
}
.logoText{
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: bolder;
    margin: 0;
    user-select: none;
    color: #f5c113;
    text-shadow: 0 1px #272727, 0 -1px #272727,
        1px 0 #272727, -1px 0 #272727;
}
.link-container{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #979797;
}
#links{
    width: 350px;
    height: 25px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    user-select: none;
    padding-bottom: 5px;
}
#links > a{
    position: relative;
    font-family: 'Work Sans';
    font-size: 15px;
    margin: 0px 10px;
    transition: font-size 0.3s,
        opacity 0.4s;
}
#links > a:not(.active):after{
    content: "";
    position: absolute;
    opacity: 0;
    border-bottom: 2px solid #272727;
    left:30px;
    right:30px;
    bottom: -5px;
}
.active{
    position: relative;
    font-size: 18px;
    font-weight: bold;
}
#links > a:not(.active){
    opacity: 0.5;
}
#links > a:not(.active):hover{
    opacity: 1;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
#links > a:not(.active):active{
    font-size: 20px;
}
#links > a:after{
    transition: opacity 0.5s,
        left 0.3s,
        right 0.3s;
}
#links > a:not(.active):after{
    content: "";
    position: absolute;
    opacity: 0;
    border-bottom: 2px solid #272727;
    left:100px;
    right:100px;
    bottom: -5px;
}
#links > a:not(.active):hover:after{
    content: "";
    position: absolute;
    opacity: 0.4;
    border-bottom: 2px solid #272727;
    left:30px;
    right:30px;
    bottom: -5px;
}
.active::after{
    content: "";
    position: absolute;
    opacity: 1;
    border-bottom: 2px solid #272727;
    left:20px;
    right:20px;
    bottom: -5px;
}
.featured{
    width:100%;
}
.footer{
    margin-top: 40px;
    width:100%;
    background-color: #575757;
    padding: 5px 5px;
    font-size: 12px;
    font-family: 'Work Sans';
    height: 20px;
    display: flex;
    align-items: center;
}
.footer *{
    margin: 0;
}
.footer a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.credits{
    width: calc(100% - 20px);
}
.github{
    
    height: 15px;
    width: 15px;
}
#main{
    animation: fade-in 1s;
}
.transition{
    animation: fade-out 1s;
}
@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fade-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@font-face {
    font-family: 'Satisfy';
    src: url(https://fonts.gstatic.com/s/satisfy/v11/rP2Hp2yn6lkG50LoCZOIHQ.woff2) format('woff2');
}
@font-face {
    font-family: 'Work Sans';
    src: url(https://fonts.gstatic.com/s/worksans/v9/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBi8Jpg.woff2) format('woff2');
}