body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding:20px;
    overflow: hidden;
}
h1{
    font-family: Oswald;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 50px;
}
.calc-container{
    height:100%;
    width:100%;
    max-height: 1000px;
    max-width: 400px;
    font-family: 'Oswald';
    background-color: rgb(49, 49, 49);
    border-radius: 20px 20px 0px 0px;
    padding:20px;
    border-bottom: 20px solid rgb(173, 168, 168);
}
.display-container{
    display: flex;
    flex-direction: column;
    padding:2px;
    width: 100%;
    height: 95px;
    font-size: 35px;
    color: white;
    background-color: rgba(63, 63, 63, 0.493);
    border:1px solid rgb(133, 133, 133);
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}
#prev{
    display: flex;
    align-items: flex-start;
    color: rgb(129, 129, 129);
    font-size: 28px;
    height: 100%;
}


.input-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 0px 5px;
    gap: 10px;
    width: 100%;
    height: 100%;
}
.input-container > *{
    font-family:sans-serif ;
    height:70px;
    font-family: 'Oswald';
    font-size: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-bottom: 10px solid rgb(121, 120, 120);
    transition: border-bottom 0.1s;
}
.input-container > *:hover:not(.operator, #equal){
    border-bottom: 15px solid rgb(121, 120, 120);
}
.input-container > *:active:not(.operator, #equal){
    border-bottom: 0px solid rgb(121, 120, 120);
}

.operator{
    font-weight: bolder;
    color:white;
    background-color: rgb(36, 106, 211);
    border-bottom: 10px solid rgb(23, 70, 139);
}
.operator:hover{
    border-bottom: 15px solid rgb(23, 70, 139);
}
.operator:active{
    border-bottom: 0px solid rgb(23, 70, 139);
}
#equal{
    background-color: rgb(247, 144, 47);
    border-bottom: 10px solid rgb(165, 100, 40);
    font-weight: bolder;
    font-size: 40px;
}
#equal:hover{
    border-bottom: 15px solid rgb(165, 100, 40);
}
#equal:active{
    border-bottom: 0px solid rgb(165, 100, 40);
}
#res{
    position: relative;
}
.operation{
    position: absolute;
    left: 0;
    top:0;
    z-index: 1;
}