.featured{
    box-sizing: border-box;
    position: relative;
    height: min(400px, 45vh);
    background: url(https://wallpapercave.com/wp/wp4056191.jpg) no-repeat right;
    background-attachment: fixed;
    background-position-y: center;
    box-shadow: inset 0 0 10em 10em #00000060;
    padding:10px;
    background-size: 100vw;
    width: 100%;
}
.tagline-container{
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr 1fr;
    padding:10px;
    height:100%;
    width: 80%;
}
.tagline-container > *{
    display: flex;
    font-family: 'Montserrat';
    font-weight: 900;
    margin: 0;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}
.tagline-container > :first-child{
    color: white;
    font-size: clamp(60px, 12vh, 140px);
    margin:-10px 0;
}
.tagline-container > :nth-child(2){
    color: white;
    font-size: clamp(50px, 10vh, 100px);
    margin:-10px 0;
}
.tagline-container > :nth-child(3){
    color: white;
    font-size: clamp(30px, 6vh, 60px);
}
.tagline-container > :last-child{
    color: white;
    font-size: clamp(20px, 6vh, 40px);
}


.schedule-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 50px;
    width: 100%;
    background-color: #f5c113;
    align-items: center;
}
.schedule-container > div{
    height: 100%;
    font-family: 'Work Sans';
    display: grid;
    grid-template-columns: 2fr 8fr;
    align-items: center;
    font-size: clamp(9px, 0.5vw,12px);
}
.schedule-container *{
    position: relative;
    margin:0;
}
.open{
    border-bottom: 4px solid #20ac43;
}
.closed{
    border-bottom: 4px solid #912714;
}
.sched-one::after{
    content: "Mon - Thur";
}
.schedule-container > div:hover > .sched-one::after, .sched-one:hover::after {
    content: "6:00a.m  -  8:00p.m";
}
.sched-two::after{
    content: "Fri - Sat";
}
.schedule-container > div:hover > .sched-two::after, .sched-two:hover::after{
    content: "7:00a.m  -  5:30p.m";
}
.sched-tree::after{
    content: "Sundays";
}
.schedule-container > div:hover > .sched-tree::after, .sched-tree:hover::after{
    content: "CLOSED";
}
.sched-logo{
    text-align: center;
}

.description-container{
    box-sizing: border-box;
    margin-top: 50px;
    margin-left:clamp(15%, 2vw, 25%);
    margin-right:clamp(15%, 2vw, 25%);
    padding:20px;
}
.desc-image{
    height:clamp(100px, 20vw, 250px);
}
.desc-text{
    font-family: 'Montserrat';
    font-size: clamp(14px,2vw,25px);
    margin-top: 50px;
    text-align: justify;
    word-wrap: break-word;
}
.desc-btn{
    position: relative;
    display: flex;
    align-items: center;
    height: 25px;
    width: min(200px,30%);
    padding: 8px 20px;
    border-radius: 100px;
    margin: 50px auto;
    background-color: #f5c113;
}
.btn-image{
    text-align: left;
    height: 100%;
}