:root{
    --drawer-btn-width: clamp(3px, 2vw, 5px);
    --drawer-btn-size: clamp(30px, 2vw, 50px)
}

#inner-drawer-container{
    position: relative;
    height: 100%;
    z-index: 7;
}
.opened-container +  #overlay{
    opacity: 1;
    pointer-events: all;
}
.opened-container ~ div  .add-task-btn{
    z-index: 0 !important;
}


#drawer-btn-container{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    top:0;
    right: -50px;
    cursor: pointer;
    z-index: -1;
}
.drawer-btn{
    position:relative;
    height: var(--drawer-btn-width);
    width:35px;
    pointer-events: none;
    background-color: #7f7f7f;
    left:0;
    transition: transform 0.4s,
        background-color 0.2s;
}
.drawer-btn:after, .drawer-btn::before{
    content: "";
    position:absolute;
    width: 35px;
    border-bottom: 5px solid #7f7f7f;
    transition: transform 0.4s,
        top 0.4s;
        pointer-events: none;
    left:0;
}
.drawer-btn::after{
    transform: rotate(0);
    top:10px;
}
.drawer-btn::before{
    transform: rotate(0);
    top:-10px;
}
.opened{
    background-color: #7f7f7f00;
}
.opened::after{
    transform: rotate(-45deg);
    top: 0;
}
.opened::before{
    transform: rotate(45deg);
    top: 0;
}
.opened + #drawer-btn-container{
    z-index: 3;
}


.opened-container{
    box-shadow: 0 0 5px 2px #0000002f;
    left: 0 !important;
}
#drawer-tab-container{
    padding-top: 20px;
}
.tab-container{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 8fr;
    padding:6px 0 ;
    cursor: pointer;
}
.tab-container:not(#projects-container){
    margin-bottom: 25px;
}
#projects-container{
    border-bottom: 1px solid #e0e0e0;
}
.tab-container:hover{
    background-color: #ececec;
}
.drawer-tab, .tab-logo{
    display: flex;
    align-items: center;
    height:100%;
    font-size: clamp(20px,2vw,25px);
}
.tab-logo{
    justify-content: center;
    color: #535353;
}
#logo-all::after{
    content: "notes ";
}
#logo-inbox::after{
    content: "inbox";
}
#logo-today::after{
    content: "today";
}
#logo-this-week::after{
    content: "date_range";
}
#logo-projects::after{
    content: "event_note";
}


#project-form-container{
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    height: 250px;
    width:300px;
    right: -300px;
    top:0;
    padding: 20px 10px;
    cursor: default;
    border-left: 1px solid #7f7f7f;
    opacity: 0;
    pointer-events: none;
}
#project-form-container > div{
    margin-bottom: 15px;
}
#input-new-project-description{
    resize: vertical;
    max-height: 120px
}
#input-new-project-name ~ div::after{
    content: "New Project Name"
}
#input-new-project-description ~ div::after{
    content: "Project Description";
}
#add-project-container{
    position: absolute;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.add-project-btn{
    border-radius: 50%;
    font-size: clamp(24px, 2vw, 30px);
    background-color: transparent;
    cursor: pointer;
    color:#7a7a7a;
}
.add-project-btn:hover, .active-project-btn{
    background-color: white;
    color:black
}

#projects-list-container{
    display: block;
    margin: 0;
    font-size: clamp(14px, 1.2vw, 17px);
    margin-left: clamp(25px, 5vw, 70px);
}
.tab-projects-list{
    padding: 5px 2px;
}
.tab-projects-list:hover{
    background-color: #ececec;
    cursor: pointer;
}
.tab-current{
    background-color: #ececec !important;
    cursor: default !important;
}