body{
    margin: 0;
}
.stand{
    margin: 0px 25%;
    height: 50px;
    padding: 0px 30px;
    font-size: 15px;
    display: flex;
    font-family:"Fredoka One";
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: #312e30;
    color: #e0e0e0;
}
.stand div{
    display: flex;
    align-items: center;
}
.profile{
    border-radius: 50%;
    background-color: #e0e0e0;
    height:40px;
    width: 40px;
    margin-left: 5px;
}
.battle{
    margin: 0px 25%;
    background-color: #ffeb00;
    display: flex;
    padding: 20px;
    font-size: 32px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-family: 'DotGothic16';
    font-weight: bolder;
    user-select: none;
}


.weapon p{
    display: block;
    width: fit-content;
    font-size: 12px;
}
.weapon div{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.weapon div:not(.active, .e-active){
    border: 1px dashed #312e30;
}
.weapon {
    width:100px;
    font-size: 100px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    padding: 5px;
    row-gap: 40px;
}
.player{
    background: url(../images/ui.jpg) no-repeat;
    width:100px;
    height:100px;
    background-size: 360px 270px;
    background-position-y: -75px;
    transform: scaleX(-1);
}
.enemy{
    background: url(../images/ui.jpg) no-repeat;
    width:100px;
    height:100px;
    background-size: 360px 270px;
    background-position-y: -75px;
    background-color: #c4c983;
    background-blend-mode: darken;
}
.select{
    background: url(../images/ui.jpg) no-repeat;
    width:100px;
    height:100px;
    background-size: 360px 270px;
    background-position-y: -75px;
    border-radius: 50%;
    border: 3px solid #28241c;
}
.active{
    border: 2px solid #28241c;
}
.e-active{
    border: 1px solid #28241c;
}
.rock{
    background-position-x: -14px;
}
.paper{
    background-size: 310px 220px;
    background-position-y: -60px;
    background-position-x: -200px;
}
.scissors{
    background-size: 320px 240px;
    background-position-y: -70px;
    background-position-x: -104px;
}

.title{
    font-family: 'DotGothic16';
    text-align: center;
    font-size: 50px;
}
#player_select{
    transform: scaleX(-1);
}
.player-anim{
    animation: shakePlayer 0.5s;
}
.computer-anim{
    animation: shake 0.5s;
}
.credits{
    position: fixed;
    bottom: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 100%;
    background-color: #e0e0e0;
}
.s::before{
    content: "";
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #a69d36;
    position: absolute;
    left:-15px;
}

.active::before{
    content: "";
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid black;
    position: absolute;
    left:-15px;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle button{
    padding: 5px 20px;
    font-family: 'Fredoka One';
    font-weight: bolder;
    font-size:20px;
    background-color: #fbea2d;
    border: none;
    border-bottom: 10px solid #a69d36;
}
#try_again{
    display: none;
}
.invisible{
    background-color: #312e30;
    background-blend-mode: soft-light;
}
.damage-overlay{
    background-color: #c23903;
    border-color: #c23903;
    background-blend-mode: soft-light;
}
.selected_container{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.lives-container{
    width:110px;
}
#enemy-lives{
    display: flex;
    flex-direction: row-reverse;
}
.lives{
    margin: 0px 25%;
    display: flex;
    padding: 0 10px;
    height: 30px;
}
.life{
    margin-left: 2px;
    height:20px;
}
@keyframes shakePlayer {
    0% { transform: translate(1px, 1px) rotate(0deg) scaleX(-1); }
    10% { transform: translate(-1px, -2px) rotate(-1deg) scaleX(-1); }
    20% { transform: translate(-3px, 0px) rotate(1deg) scaleX(-1); }
    30% { transform: translate(3px, 2px) rotate(0deg) scaleX(-1); }
    40% { transform: translate(1px, -1px) rotate(1deg) scaleX(-1); }
    50% { transform: translate(-1px, 2px) rotate(-1deg) scaleX(-1); }
    60% { transform: translate(-3px, 1px) rotate(0deg) scaleX(-1); }
    70% { transform: translate(3px, 1px) rotate(-1deg) scaleX(-1); }
    80% { transform: translate(-1px, -1px) rotate(1deg) scaleX(-1); }
    90% { transform: translate(1px, 2px) rotate(0deg) scaleX(-1); }
    100% { transform: translate(0, 0) rotate(0) scaleX(-1); }
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(0, 0) rotate(0); }
}
#result{
    font-size: 25px;
    display: none;
}
#battle-result{
    display: none;
}
.users-text{
    background-color: transparent;
    color: #312e30;
    font-size: 12px;
    padding: 0 50px;
    height:14px;
    text-align: center;
}